.product {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white;
  padding: 10px;
}

.product-picture {
  width: 100%;
}

.product-name {
}

.product-text {
}

.product-add-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: blue;
}
